body {
    background-color: #ff0000;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D90000;
    padding: 8px 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}

button {
    background: none;
    border: none;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #D90000;
    width: 55vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
    background-color: #D90000;
    width: 55vw;
    height: 100vh;
}

.menu-lateral__link {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 64px;
    color: #ffffff;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo{
    padding-left: 54px;
    border-left: 8px solid #ffffff;
}

.cartao {
    margin: 3vw;
    border-radius: 20px;
    overflow: hidden;
    background-color: #c4c4c4;
    border: 1px solid #000000;
    box-shadow: 6px 6px 4px #474747;
    padding-bottom: 23px;
    
}

.cartao__titulo {
    display: flex;
    font-family: 'Russo one', sans-serif;
    font-size: 20px;
    justify-content: center;
    margin-top: 15px;
}

.cartao__conteudo {
    display: grid;
    background-color: #ffffff;
    margin: 16px;
    padding: 18px;
    justify-content: center;
}

.cartao__conteudo--texto {
    margin-top: 25px;
    font-family: 'Roboto mono',sans-serif;
    color: #0500FF;
    font-size: 21px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

.missao {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.missao--titulo {
    font-family: 'Russo one', sans-serif;
    font-size: 21px;
    padding-left: 10px;

}

.missao--lista {
    font-family: 'Roboto mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.1px;
    margin-left: 40px;
    margin-bottom: 18px;
    margin-top: 18px;
    list-style-type: disc;
}

.comunidade {
    background-color: #777777;
    ;
}

.comunidade--texto {
    text-align: center;
    font-family: 'Russo one', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #ffffff;
    padding: 25px;
}

.comunidade--imagem {
    width: 100%;
}

.patrocinadores {
    background: linear-gradient(180deg, #777777 0%, #000000 50.73%);
}

h5 {
    text-align: center;
    font-family: 'Russo one', sans-serif;
    font-weight: 200;
    font-size: 21px;
    color: #ffffff;
    padding: 50px;
}

.patrocinadores--logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 18px;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 8rem;
}

footer {
    background-color: #ff0000;
}